awscli==1.16.312
bandit==1.7.6
boto3==1.24.66
botocore==1.27.66
certifi==2023.11.17
cfgv==3.3.1
charset-normalizer==3.3.2
click==8.1.7
clipboard==0.0.4
colorama==0.4.1
distlib==0.3.4
docutils==0.15.2
filelock==3.7.0
gitdb==4.0.11
GitPython==3.1.40
identify==2.5.1
idna==3.6
jmespath==0.10.0
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.6.0
pbr==6.0.0
platformdirs==2.5.2
pre-commit==2.19.0
pyasn1==0.4.8
Pygments==2.17.2
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.2.1
pyvenv==0.2.2
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
rsa==3.4.2
s3transfer==0.6.0
six==1.16.0
smmap==5.0.1
stevedore==5.1.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.25.11
virtualenv==20.14.1
